@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

main{
  display: flex;
  flex-direction: row;
  font-family: 'Nunito';
}

.header_app{
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.header_app button {
  width: 4rem;
  height: 2.5rem;
  gap: 0.62rem;
  background: #E9ECEF;
  border: 1.4px solid #E9ECEF;
  border-radius: 0.5rem;
  cursor: pointer;
}

.App{
  display: flex;
  flex-direction: column;
}

.div_infosResumo{
  width: 32.5rem;
  height: 7rem;
  margin-left: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div_infosResumo p{
  font-size: 0.75rem;
}
.div_infosResumo button{
  padding: 10.5px 15px;
  border-radius: 0.5rem;
  border: 0ch;
  background-color: #E9ECEF;
  color:#868E96;
  margin-left: 1rem;
  cursor: pointer;
}

/* .div_list{
  display: flex;
  flex-direction: column;
} */

.othersInfos{
  display: flex;
  flex-direction: row;
}